
/* properties of individual element*/

html, body {
    height:100%;
    width:100%;
    /* background-color: #4b6249; */
     background-color: #E4E0C9;
  }

h1 {
  color: #ED6335;
  font-size: 30px;
  text-align: center;
  font-family: Copperplate, 'Times New Roman', Times, serif;
}

h2 {
  color:#ED6335 ;
  font-size: 20px;
  text-align: center;
  font-family: Copperplate, 'Times New Roman', Times, serif;
}

h3 {
  color: #ECAE7D;
  font-size: 30px;
  text-align: center;
  font-family: Copperplate, 'Times New Roman', Times, serif;
}

h4 {
  color: rgb(2, 108, 128);
  font-size: 50px;
  text-align: center;
  font-family: Copperplate, 'Times New Roman', Times, serif;
}

h5 {
  height:100%;
  width: 100%;
  color: #ED6335;
  font-size: 20px; 
  text-align: center;
}

h6 {
  height:100%;
  width: 100%;
  color: white;
  font-size: 100px; 
  text-align: center;
  padding: 50px;
  font-family: Copperplate, 'Times New Roman', Times, serif;
  border-color: black;
}

.parallaxheader {
  /* The image used */
  /* background-image: url("/Users/vanessachew/Documents/NUS/Y2S2/NM2207/NM2207_finalproject/resources/headerphoto2.png"); */
  background-image: url("../resources/headerphoto2.png");

  /* Full height */
  height: 100vh; 
  padding: 20px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


p {
  text-align: center;
  color: black;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono";
  font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; 
}

ul {
  color: black;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono";
  font-size: 16px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; 
}

.naturalgas {
  overflow: hidden;
}

#options {
  text-align: left;
}

/* body elements*/
body {
  height:100%;
  width: 100%;
  color: black ,
}

.definition, tr, th, td { 
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    color: black;
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono";
    font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; 
}

.tesla table, th, td {
  border: none;
  padding: 10px;
  color: black;
  font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono";
  font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; 
}

* {
  box-sizing: border-box;
}


.London {
  color: black;
}

.Paris {
  color: black;
}

.Tokyo {
  color: black;
}

/* TAB STYLING */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  grid-column: 1/span 2;
}

/*container properties*/
.container {
  font-family: Helvetica, Arial, sans-serif;
  height:95%;
  width:95%;
  color: white;
}

.container > * {
  /* background-color: #4b6249; */
  background-color: #E4E0C9;
  padding: 20px;
}

.introduction {
  height: fit-content;
}


img{
  float: left;
}

.tab {
  height: 80px;
}

/* Define the grid */
.container {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 20px;
  padding: 10px;
  grid-template-rows: 50% auto 20%;
}


/* Place items on the grid */
.header {
  grid-column: 1 / span 2;
}

.introduction {
  grid-column: 1;
  border-style: groove;
  width: 80%;
  margin: auto;
}

.definition {
  grid-column: 1/span 2;
  border-style: groove;
  width: 60%;
  margin: auto;
} 

.fourswitches {
  grid-column: 1/span 2;
  width: 60%;
  margin: auto;
}

.popup {
  /* border-style: groove; */
  left: 40px;
  padding: 20px;
  background-color: #EBDFB7;
  margin-bottom: 20px;
}

.SGgreenplan {
  grid-column: 1/span 2;
  border-style: groove;
  width: 60%;
  margin: auto;
}
.consumptionlevels {
  grid-column: 1/span 2;
}
.progress {
  grid-column: 1/span 2;
  border-style: groove;
  width: 60%;
  margin: auto;
}
.sidebar {
  grid-row: 1/ span 5;
  grid-column: 2
}
.evcharging {
  grid-column: 1/span 2;
}
.evexplanation {
  grid-column: 1/span 2;
  width: 60%;
  margin: auto;
}
.analysis {
  grid-column: 1/span 2;
  border-style: groove;
  width: 60%;
  margin: auto;
}

.conclusion {
  grid-column: 1/span 2;
  border-style: groove;
  width: 60%;
  margin: auto;
}

.tab {
  grid-column: 1/span 2;
}

.application {
  grid-column: 1/span 2;
  width: 60%;
  margin: auto;
}

.lineElectric {
  grid-column: 1/span 2;
  width: 60%;
  margin: auto;
}

.references {
  grid-column: 1/span 2;
  width: 60%;
  margin: auto;
  border-style: groove;
}

#teslapic {
    max-width: 100%;
    height: auto;
}

#bluesgpic {
  max-width: 100%;
  height: auto;
}

#chargepic {
  max-width: 100%;
  height: auto;
}

#greenlotspic {
  max-width: 100%;
  height: auto;
}

#tribecarpic {
  max-width: 100%;
  height: auto;
}

#grabwheelspic {
  max-width: 100%;
  height: auto;
}

/*POPUP CSS*/
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 300px;
  width: 700px;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  height: 200px;
  width: 450px;
  background-color: #EBDFB7;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 25%;
  left: 45%;
  margin-left: -100px;
}


/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/*SWITCH FOR POPUP*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  left:40px;
  display: inline-block;
  width: 100px;
  height: 50px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 42px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(48px);
  -ms-transform: translateX(48px);
  transform: translateX(48px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 70px;
}

.slider.round:before {
  border-radius: 50%;
}
